@model IReviewCard;

@{
    var phoneReview = Model.PhoneReview;
    var reviewedBy = Model.isUser ? "Reviewed by you (Asmail)" : "Reviewed by Asmail";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@phoneReview.Title</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Score: @(phoneReview.Score)/5</h6>
        <p class="card-text">@phoneReview.Description</p>
    </div>
</div>
