@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete section type with id @(Model.SectionTypeId)</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="SectionTypeId"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-page="./Index">Back to List</a>
        <span asp-validation-for="SectionTypeId"></span>
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
