@model (int? PropertyTypeId, int? SectionId)



<h1 class="fs-3">
    <text>Are you sure you want to create a new property defined by property type with id
        <b class="fst-italic text-primary-emphasis">@(Model.PropertyTypeId)</b>
        for section with id <b class="fst-italic text-primary-emphasis">@(Model.SectionId)</b>?
    </text>
</h1>
