@page
@model PhoneDB.Pages.Admin.PhoneImage.SetThumbnail

@{
    ViewData["Title"] = "SetThumbnail";
}



<form method="post">
<button class="btn btn-primary">Set as thumbnail image</button>
</form>
<div asp-validation-summary="All" class="text-danger"></div>