@page
@model PhoneDB.Pages.Section.CreateModel

@{
    ViewData["Title"] = "Create";


    var selectList = Model.SelectList ?? throw new NullReferenceException(nameof(Model.SelectList));
    var noChoice = !selectList.Any();
}

<div class="d-flex flex-column gap-2">

    <div class="d-flex flex-row gap-2">

        <h1 class="fs-3">Create new section for <b class="fst-italic text-primary-emphasis">
                @(Model.PhoneModel)
            </b>
        </h1>
    </div>


    <form method="post" class="d-flex flex-column gap-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <span class="text-danger" asp-validation-for="SectionName"></span>

        <div>
            <label class="form-label">Section Name</label>
            <input hidden asp-for="Id"/>
            <input hidden asp-for="PhoneModel"/>
            <select asp-for="SectionName" class="form-control" asp-items="Model.SelectList"></select>
        </div>
        <div class="d-flex justify-content-between">
            <a asp-route-id="@(Model.Id)" asp-page="/Phone/Edit"
               class="btn btn-primary">Cancel</a>
            <input type="submit" value="Create" class="btn btn-primary" disabled="@(noChoice)"/>
        </div>
        @if (noChoice)
        {
            <div class="alert alert-info" role="alert">
                    <span class="material-symbols-outlined  align-middle ">info</span>
                There no new section you can add.
            </div>
        }

    </form>

    <div>
    </div>
</div>

