@page "{Id:int}"
@inject ApplicationDbContext context
@using DataBase
@using Microsoft.EntityFrameworkCore
@using Phone_1 = PhoneDetail
@model Phone_1

@{
    var phone = context.Phones
        .Include(phone => phone.Sections)
        .ThenInclude(section => section.StringProperties)
        .ThenInclude(property => property.StringPropertyType)
        .Include(phone => phone.Sections)
        .ThenInclude(section => section.SectionType)
        .Single(phone => phone.Id.Equals(Model.Id));

    if (phone == null)
    {
        throw new ArgumentException("Phone id not found.");
    }
}
<div class="d-flex flex-column gap-2 pb-4">


    <div class="d-flex flex-column flex-sm-row gap-2">
        <div class="flex-grow-1 align-self-stretch d-flex flex-column justify-content-center">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" class="rounded  w-sm-100" alt="...">
        </div>


        <div class="d-flex flex-wrap gap-2 flex-grow-1 justify-content-center justify-content-sm-start">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
            <img src="https://fdn2.gsmarena.com/vv/bigpic/htc-u24-pro.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
            <img src="https://img4.dhresource.com/webp/m/0x0/f3/albu/ry/s/13/02655e8c-7ff4-4b68-a710-407f4f7d82ef.jpg"
                 style="max-height: 100px; width: 100px;" class="rounded" alt="...">
            <img src="https://www.audilo.se/9763-large_default/smartphone-doro-8050.jpg"
                 style="max-height: 100px; width: 100px;" class="rounded" alt="...">
            <img src="https://www.audilo.se/img/p/1/2/7/4/4/12744.jpg" style="max-height: 100px; width: 100px;"
                 class="rounded" alt="...">
        </div>
    </div>





    @foreach (var section in phone.Sections)
    {
        var sectionName = section.SectionType.Id;


        <div>
            <h3>@(sectionName)</h3>
            <table class="table table-bordered">
                <tbody>
                @foreach (var property in section.StringProperties)
                {
                    var propertyKey = property.StringPropertyType.Id;
                    var value = property.StringData;
                    <tr>
                        <th scope="row">@(propertyKey)</th>
                        <td>@(value)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    @await Component.InvokeAsync("Reviews", new { phoneId = phone.Id })
</div>