@page
@model PhoneDB.Pages.Section.DeleteModel
@{
    ViewData["Title"] = "Delete";
}


<h1 class="fs-3">Are you sure you want to delete section 
    <b class="fw-bold fst-italic text-primary-emphasis">
        @(Model.Section.SectionType.Name)
    </b> 
    for phone model 
    <b class="fw-bold fst-italic text-primary-emphasis">
    @(Model.Section.Phone.PhoneModel)
    </b>
    ?
</h1>
<div>
 
    <form method="post">
        <input type="hidden" asp-for="Section.Id"/>
        <div class="d-flex flex-row gap-2 justify-content-between">
            
        <a class="btn btn-primary" asp-page="/Phone/Edit" asp-route-id="@Model.Section.Phone.Id">Back</a>
        <input type="submit" value="Delete" class="btn btn-danger"/> 
        </div>
    </form>
</div>
